include layout

div(class='section')
        div(class='col-sm-2 gray-background full-height sidenav fixed-top')
            div(class='user-information text-center pt-5')
                br
                br
                img(src='/images/pusheen_pizza.jpg' class='rounded-circle user-icon')
                br
                p(class='presentation-text white-color-text text-center') #{username}
                p(class='white-color-text text-center') #{principalSkill}
                a(href='profile' class='nav-link versales-text soft-gray-color text-center yellow-color d-inline' id='v-pills-home-tab' data-toggle='pill' role='tab' aria-controls='v-pills-home' aria-selected='true')
                    i(class='fas fa-user-edit' data-toggle="tooltip" data-placement="right" title="Editar perfil")
                a(href='#' class='nav-link versales-text soft-gray-color text-center yellow-color d-inline' id='v-pills-home-tab' data-toggle='pill' role='tab' aria-controls='v-pills-home' aria-selected='true')
                    i(class='fas fa-sign-out-alt' data-toggle="tooltip" data-placement="right" title="Cerrar sesión")
                    br
                br
            div(class='nav flex-column nav-pills' id='v-pills-tab' role='tablist' aria-orientation='vertical')
                br
                p(class='versales-text soft-gray-color') Proyectos
                div(class='dropdown-divider')
                div(class='ml-4')
                    img(src='/images/pizza_icon.png' width='30' height='30' class='d-inline-block align-top float-left' alt='Pizza icon')
                    a(class='nav-link white-color-text link-color' href='/pending') Pendientes
                div(class='ml-4')
                    img(src='/images/pizza_icon.png' width='30' height='30' class='d-inline-block align-top float-left' alt='Pizza icon')
                    a(class='nav-link white-color-text link-color' href='/finished') Terminados
                p(class='versales-text soft-gray-color') Equipos
                div(class='dropdown-divider')
                div(class='ml-4')
                    img(src='/images/pizza_icon.png' width='30' height='30' class='d-inline-block align-top float-left' alt='Pizza icon')
                    a(class='nav-link white-color-text link-color' id='v-pills-profile-tab' data-toggle='pill' href='#v-pills-home' role='tab' aria-controls='v-pills-home' aria-selected='true') Mis equipos
                br
            br
            p(class='white-color-text text-center') Scizza ® 2018
        
    
