include layout

div(class='section')
        div(class='col-sm-2 gray-background full-height sidenav fixed-top')
            div(class='user-information text-center pt-5')
                br
                br
                img(src='../images/pusheen_pizza.jpg' class='rounded-circle user-icon')
                br
                p(class='presentation-text white-color-text text-center') #{username.fullName}
                p(class='white-color-text text-center') #{principalSkill}
                a(href='../userSkills/get' class='nav-link versales-text soft-gray-color text-center yellow-color d-inline')
                    i(class="fas fa-pencil-ruler" data-toggle="tooltip" data-placement="right" title="Habilidades")
                a(href='../profile' class='nav-link versales-text soft-gray-color text-center yellow-color d-inline')
                    i(class='fas fa-user-edit' data-toggle="tooltip" data-placement="right" title="Editar perfil")
                a(href='../logout' class='nav-link versales-text soft-gray-color text-center yellow-color d-inline')
                    i(class='fas fa-sign-out-alt' data-toggle="tooltip" data-placement="right" title="Cerrar sesión")
                    br
                br
            div(class='nav flex-column nav-pills' id='v-pills-tab' role='tablist' aria-orientation='vertical')
                br
                p(class='versales-text soft-gray-color') Proyectos
                div(class='dropdown-divider')
                div(class='ml-4')
                    img(src='/images/pizza_icon.png' width='30' height='30' class='d-inline-block align-top float-left' alt='Pizza icon')
                    a(class='nav-link white-color-text link-color' href='/projects/get') Proyectos
                p(class='versales-text soft-gray-color') Equipos
                div(class='dropdown-divider')
                div(class='ml-4')
                    img(src='/images/pizza_icon.png' width='30' height='30' class='d-inline-block align-top float-left' alt='Pizza icon')
                    a(class='nav-link white-color-text link-color' href='/developerTeams/get') Mis equipos
                br
            br
            p(class='white-color-text text-center') Scizza ® 2018
        
    
