extends layout

block content
  div(class='row no-gutters')
    div(class='col-sm-5 background-image full-height position-sticky')
    div(class='col-sm-7 full-height p-5')
      br
      br
      h1(class='title lobster pt-5')= title
      p(class='presentation-text pb-5') ¿Has oído que los desarrolladores trabajan mejor con pizza? Inicia sesión para reclamarle tu rebanada a tus compañeros de trabajo con #{title}; un sitio te proporciona las herramientas necesarias para el desarrollo de software ágil, basado en la metodología SCRUM.
      div(class='dropdown-divider')
      p(class='presentation-text text-center pt-5') Inicia sesión con
      div(class='pull-right d-flex justify-content-center')
        a(href='/auth/facebook' class='m-1 text-center btn btn-outline-danger fab fa-facebook-f')
        button(type='submit' class='m-1 text-center btn btn-outline-danger fab fa-twitter')
        a(href='/auth/google' class='m-1 text-center btn btn-outline-danger fab fa-google-plus-g')
      p(class='presentation-text text-center pt-5') Scizza 2018®    
            
