extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-10 offset-sm-2')
            div(class='row h-100 full-height')
                div(class='col-12 col-sm-12 margin-top')
                    div(class='mx-auto user-information text-center' style='width: 80%')
                        br
                        table(style='width: 90%;')
                          thead
                            tr
                              th
                              th Nombre
                              th Fecha Inicio
                              th Fecha Arranque
                              th Equipo
                              th 
                          tbody
                            tr(style='height: 90px;')
                              td (img)
                              td Proyecto 1
                              td 10/10/2018
                              td 12/11/2018
                              td Equipo 1
                              td Ver
                            tr(style='height: 90px;')
                              td (img)
                              td Proyecto 2
                              td 10/10/2018
                              td 12/11/2018
                              td Equipo 1
                              td Ver
                            tr(style='height: 90px;')
                              td (img)
                              td Proyecto 3
                              td 10/10/2018
                              td 12/11/2018
                              td Equipo 1
                              td Ver
                            tr(style='height: 90px;')
                              td (img)
                              td Proyecto 4
                              td 10/10/2018
                              td 12/11/2018
                              td Equipo 1
                              td Ver
                            tr(style='height: 90px;')
                              td (img)
                              td Proyecto 5
                              td 10/10/2018
                              td 12/11/2018
                              td Equipo 1
                              td Ver
                        br
                        button(type='submit' class='m-1 text-center btn btn-outline-danger' data-toggle='modal' data-target='#create') Nuevo Proyecto
    
    div(id='create' class='modal fade bd-example-modal-lg white-background' tabindex='-1' role='dialog' aria-labelledby='registrarse-modal' aria-hidden='true')
      div(class='modal-dialog modal-dialog-centered modal-lg')
        div(class='modal-content')
          div(class='col-sm-12 my-auto form presentation-text' )
            br
            div(class='mx-auto' style='width: 750px')
              img(src='/images/pizza_icon.png' class='rounded float-left' width='85' height='85')
              h2(class='text-left title-h2 lobster')
                center Nuevo Proyecto
              p(class='presentation-text text-center') Crear Nuevo Proyecto
            form
              div(class='form-group text-left')
                label(for='exampleInputText') Nombre del Proyecto
                input(type='text' class='form-control' id='exampleInputText' aria-describedby='emailHelp' placeholder='Proyecto chido 😎')
              div(class='form-group text-left')
                label(for='exampleInputText') Fecha de Inicio
                input(type='text' class='form-control' id='exampleInputText' aria-describedby='emailHelp' placeholder='Proyecto chido 😎')
              div(class='form-group text-left')
                label(for='exampleInputText') Fecha de Arranque
                input(type='text' class='form-control' id='exampleInputText' aria-describedby='emailHelp' placeholder='Proyecto chido 😎')
              div(class='form-group text-left')
                label(for='exampleInputText') Product Owner
                input(type='text' class='form-control' id='exampleInputText' aria-describedby='emailHelp' placeholder='Proyecto chido 😎')
              div(class='form-group text-left')
                label(for='exampleInputText') Descripción
                input(type='text' class='form-control' id='exampleInputText' aria-describedby='emailHelp' placeholder='Proyecto chido 😎')
              nav(class='nav justify-content-center')
                button(type='submit' class='btn btn-danger m-1' style='width: 150px') 
                  a(href='/project' style='color: white; text-decoration: none') Crear
            br
