extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-2')
        div(class='col-sm-10 offset-sm-2 row')
            div(class='container mt-5')
                h1(class='title-h2 lobster') Perfil

    