extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-10 offset-sm-2')
            div(class='row h-100 full-height')
                div(class='col-12 col-sm-6 margin-top')
                    div(class='mx-auto user-information text-center' style='width: 300px')
                        br
                        a(href='#')
                            img(src='/images/pusheen_pizza.jpg' class='rounded-circle user-icon' data-toggle='tooltip' data-placement='top' title='Actualiza tu foto de perfil')
                        br
                        span(class='text-centered presentation-text') 
                            p Bienvenido, 
                            b #{username}
                        p Cambia tu foto de perfil, para que te reconocerán tus compañeros y sepan a quién le comparten de su pizza.
                        div(class='input-group mb-3 col-12 col-sm-12')
                            div(class='input-group-prepend')
                                span(class='input-group-text' id='inputGroupFileAddon01') Subir
                            div(class='custom-file')
                                input(type='file' class='custom-file-input' id='inputGroupFile01' aria-describedby='inputGroupFileAddon01')
                                label(class='custom-file-label' for='inputGroupFile01') Selecc.
                div(class='col-12 col-sm-6 margin-top')
                    ul(class='nav nav-tabs'  id='tab-profile'  role='tablist') 
                        li(class='nav-item') 
                            a(class='nav-link peperoni-color'  id='skills-tab'  data-toggle='tab'  href='#skills'  role='tab'  aria-controls='home'  aria-selected='true') Habilidades
                        li(class='nav-item') 
                            a(class='nav-link peperoni-color'  id='account-tab'  data-toggle='tab'  href='#account'  role='tab'  aria-controls='account'  aria-selected='false') Cuenta
                        li(class='nav-item') 
                            a(class='nav-link peperoni-color'  id='personal-tab'  data-toggle='tab'  href='#personal'  role='tab'  aria-controls='profile'  aria-selected='false') Datos personales
                    div(class='tab-content peperoni-color'  id='tab-profile-content') 
                        div(class='tab-pane fade show active'  id='skills'  role='tabpanel'  aria-labelledby='profile-tab')
                            br
                            h3(class='presentation-text lobster text-center') Cuéntanos, ¿en qué eres bueno?
                            br
                            form
                                div(class='row')
                                    div(class='col-12 col-sm-6')
                                        p(class='presentation-text') Selecciona habilidad
                                        select(class='custom-select')
                                            option(selected) Selecciona habilidad
                                            option(value='1') Java
                                    div(class='col-12 col-sm-6')
                                        p(class='presentation-text') Selecciona nivel
                                        select(class='custom-select')
                                            option(selected) Selecciona nivel
                                            option(value='1') Junior
                                            option(value='2') Master
                        div(class='tab-pane fade'  id='account'  role='tabpanel'  aria-labelledby='home-tab')
                            br
                            h3(class='presentation-text lobster text-center') Información de tu cuenta
                            form
                                div(class='form-group')
                                    label(for='username') Nombre de usuario
                                    input(type='text' class='form-control' id='idUsername' aria-describedby='usernameHelp' placeholder= username)
                                div(class='form-group')
                                    label(for='email') Email
                                    input(type='email' class='form-control' id='idEmail' aria-describedby='emailHelp' placeholder='scizzono_pep01@scizza.com')
                                div(class='form-group')
                                    label(for='password') Contraseña
                                    input(type='password' class='form-control' id='exampleInputPassword1' placeholder='Password')
                                div(class='form-group')
                                    label(for='confirm-password') Contraseña
                                    input(type='password' class='form-control' id='confirm-password' placeholder='Confirmar contraseña')
                        div(class='tab-pane fade'  id='personal'  role='tabpanel'  aria-labelledby='profile-tab')
                            br
                            h3(class='presentation-text lobster text-center') Datos personales
                            form
                                div(class='row')
                                    div(class='form-group col-12 col-sm-6')
                                        label(for='name') Nombre
                                        input(type='text' class='form-control' id='idName' aria-describedby='nameHelp' placeholder='Sccizzonio Pepeperoni')
                                    div(class='form-group col-12 col-sm-6')
                                        label(for='birthday-date') Fecha de Nacimiento
                                        input(type='date' class='form-control' id='idBirthday' aria-describedby='birthdayHelp')
                                div(class='row')
                                    div(class='form-group col-sm-6')
                                        label(for='exampleInputEmail1') CURP
                                        input(type='text' class='form-control' id='idCurp' aria-describedby='CURPHelp' placeholder='LLLL000000LLLLLL00' maxlength='18')
                                    div(class='form-group col-sm-6')
                                        label(for='rfc') RFC
                                        input(type='text' class='form-control' id='idRfc' aria-describedby='RFCHelp' placeholder='LLLL000000LLL' maxlength='18')
                                div(class='row')
                                    div(class='form-group col-12 col-sm-4')
                                        label(for='calle') Calle domicilio
                                        input(type='text' class='form-control' id='idCalle' aria-describedby='calleHelp' placeholder='Calle Mozarella' maxlength='18')
                                    div(class='form-group col-12 col-sm-4')
                                        label(for='numero') Número domicilio
                                        input(type='text' class='form-control' id='idNumero' aria-describedby='numeroHelp' placeholder='0000' maxlength='18')
                                    div(class='form-group col-12 col-sm-4')
                                        label(for='colonia') Colonia
                                        input(type='text' class='form-control' id='idColonia' aria-describedby='coloniaHelp' placeholder='Pizza Nacional' maxlength='18')
                    div(class='mx-auto' style='width: 200px')
                        br
                        button(type='submit' class='btn btn-outline-danger m-1') Actualizar perfil
                
                
    