extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-9 offset-sm-3')
            section
                div(class='container')
                    div(class='row mt-5')
                        div(class='col-sm-6 col-lg-4 mt-5')
                            div(class='card-flip')
                                div(class='flip')
                                    div(class='front')
                                        div(class='card shadow-sm p-3 mb-5 bg-white rounded')
                                            img(class="card-img-top" src="images/team_pizza.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true")
                                            div(class="card-block")
                                                h4(class="card-title mt-3") Proyecto DRAW
                                                p(class='card-text') Equipo desarrollo
                                                p 
                                                    small Solicitud: 2018-09-12
                                                p 
                                                    small Arranque: 2018-11-28
                                    div(class="back")
                                        div(class="card shadow-sm p-3 mb-5 bg-white rounded")
                                            div(class="card-block")
                                                h4(class="card-title mt-3") Proyecto DRAW
                                                p(class="card-text") Descripción del proyecto
                                                p(class="card-text") Scrum master
                                                p(class='card-text') Product owner
                                                a(href="project" class="btn btn-danger card-link mb-3") Ver detalles
                                    

