extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-9 offset-sm-3')
            section
                div(class='container')
                    div(class='row mt-10')
