extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-9 offset-sm-3')
            section
                div(class='container')
                    div(class='row mt-10')
                        each sprint in sprints
                            div(class='col-sm-6 col-lg-4 mt-5')
                                div(class='card-flip')
                                    div(class='flip')
                                        div(class='front')
                                            div(class='card shadow-sm p-3 mb-5 bg-white rounded')
                                                img(class="card-img-top" src="../images/team_pizza.jpg" alt="100%x180" style="height: 180px; width: 100%; " data-holder-rendered="true")
                                                div(class="card-block")
                                                    h4(class="card-title mt-3") #{sprint.name}
                                                    p(class='card-text') #{sprint.type}
                                        div(class="back")
                                            div(class="card shadow-sm p-3 mb-5 bg-white rounded")
                                                div(class="card-block")
                                                    a(href=`` class="btn btn-danger card-link mb-3") Ver detalles
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                                        br
                        div(class="d-flex align-items-end flex-column")
                            a(class='btn-corner btn btn-danger text-light' id='show-modal' data-toggle="modal" data-target="add-project") Agregar proyecto


