extends dashboard_base

block content
    div(class='col-sm-12')
        div(class='col-sm-9 offset-sm-3')
            div(class='row h-100 full-height')
                div(class='col-sm-11 pt-4')
                    br
                    div(class='user-information mt-2')
                        br
                        br
                        img(src='/images/pusheen_pizza.jpg' class='open-input-file rounded-circle user-icon2 float-sm-left mr-5')
                        p(class='presentation-text mt-5') Bienvenido
                    hr
                br
                