body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body, .white-background {
  background-color: #f2f2f2;
}
.link {
  color: #CA2521 !important;
}
.peperoni-color {
  color: #61120E !important;
}
.link-color:hover, .yellow-color {
  color: #ECA442 !important;
}
.soft-gray-color {
  color: #A5A79A;
}
.background-image {
  background-image: url("../images/pizza_background.png");
  background-size: center;
}
.full-height {
  height: 100vh;
}
.lobster {
  font-family: 'Lobster', cursive;
}
.btn-danger, .btn-outline-danger {
   border-color: #61120E !important;
}
.btn-danger, .btn-outline-danger:hover {
  background-color: #61120E !important;
}
.btn-outline-danger {
  color: #61120E !important;
}
.white-color-text, .btn-outline-danger:hover {
  color: #f2f2f2 !important;
}
.form {
  border-radius: 3%;
}
.gray-background {
  background-color: #2D2C2C;
}
.title {
  font-size: 8rem;
}
.title-h2 {
  font-size: 5rem;
}
.presentation-text, .btn, .btn-otline-success {
  font-size: 1.5rem !important;
}
.user-icon {
  width: 50%;
}
.user-icon:hover {
  filter:brightness(0.2);
}
.versales-text {
  font-variant: small-caps;
}
.sidenav {
  background-image: url("/images/pizza_dash_background.png");
  background-repeat: no-repeat;
}
.border-yellow {
  border-color: #ECA442;
  border-width: 2%;
}
.margin-top {
  margin-top: 17%;
}

.product-backlog-card {
  margin-top: 10%;
  border-style: solid;
  border-radius: 15px;
  width: 100%;
}

.product-backlog-card:hover {
  background-color:#61120E;
  color: white !important;
}
