body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.link {
  color: #CA2521 !important;
}
.peperoni-color {
  color: #61120E;
}
.background-image {
  background-image: url("../images/pizza_background.png");
  background-size: center;
}
.container, .background-image, .section {
  height: 100vh;
}
.lobster {
  font-family: 'Lobster', cursive;
}
.btn {
  border-color: #61120E !important;
  color: #2D2C2C !important;
}
.btn-otline-success, .btn:hover, .active {
  background-color: #61120E !important;
}
.btn-otline-success, .btn:hover, .active, footer, .arrow-down {
  color: #f2f2f2 !important;
}
.form {
  border-radius: 3%;
}
footer {
  background-color: #2D2C2C;
}
.title {
  font-size: 8rem;
}
.title-h2 {
  font-size: 5rem;
}
.presentation-text, .btn, .btn-otline-success {
  font-size: 1.5rem !important;
}